<a href="https://colab.research.google.com/github/EverestBootCamp/ImbalanceClassTest/blob/T102_Annotations/T102_Annotations/T102_Annotations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Full dataset output:-

In [ ]:
'''
Required Liraries Imported
'''
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

class Annotation():
    '''
    Following arguments are required to run this annotation class.Default values are provided:-

    File path where the original data csv file is saved. Input should be in String format.
    input_file_path='data_transformed.csv'

    The dependent or target feature. Input should be in String format.
    target_column='Class'

    Test size for the train test split. Input should be in integer format.
    test_size=0.3

    The type of dataframe can be selected by iputting the following arguments:-
    'train' or 'test' or Any float value ranging from 0-1
    output_dataframe='train'
    '''

    def __init__(
            self,
            input_file_path='data_transformed.csv',
            target_column='Class',
            test_size=0.3,
            output_dataframe='train'):
        self.input_file_path = input_file_path
        self.target_column = target_column
        self.test_size = test_size
        self.output_dataframe = output_dataframe

    def dataframe(self):

        # Read the data_transformed file
        df = pd.read_csv(self.input_file_path)

        # Splitting the independednt adn dependent variable
        X = df.drop(columns=[self.target_column])  # input
        y = df[self.target_column]  # output

        # Splitting 70% of the data for training and 30% for testing (with
        # stratification for imbalanced class)
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=self.test_size, stratify=y, random_state=0)
        
        if self.output_dataframe.isalpha() == True:
            if self.output_dataframe.lower() == 'train':
                # making a copy to avoid SettingWithCopy Warning
                train_data = X_train.copy()
                # Combining the stratified data
                train_data.loc[:, self.target_column] = y_train
                return train_data
            elif self.output_dataframe.lower() == 'test':
                # making a copy to avoid SettingWithCopy Warning
                test_data = X_test.copy()
                # Combining the stratified data
                test_data.loc[:, self.target_column] = y_test
                return test_data
            else:
                print("""For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1""")
        elif self.output_dataframe.isalpha() == False:
            try:
                if float(self.output_dataframe) in [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]:
                    # making a copy to avoid SettingWithCopy Warning
                    train_data = X_train.copy()
                    # Combining the stratified data
                    train_data.loc[:, self.target_column] = y_train

                    # Splitting the independednt adn dependent variable
                    X_70 = train_data.drop(columns=[self.target_column])  # input
                    y_70 = train_data[self.target_column]  # output
                    _, Sample_X, _, Sample_y = train_test_split(
                        X_70, y_70, test_size=float(self.output_dataframe), stratify=y_70, random_state=0)

                    # making a copy to avoid SettingWithCopy Warning
                    train_data = Sample_X.copy()
                    # Combining the stratified data
                    train_data.loc[:, self.target_column] = Sample_y
                    return train_data
                else:
                    print("""For the 'output_dataframe' argument, select from these:-
                          'train' or 'test' or Any float value ranging from 0-1""")
                
            except:
                print("""For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1""")
        else:
            print("""For the 'output_dataframe' argument, select from these:-
                  'train' or 'test' or Any float value ranging from 0-1""")

In [ ]:
print (np.linspace(0.1, 0.9, 9))

[0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]

In [ ]:
a = Annotation()    #Calling the class and assigning it to 'a' with the dataset as the argument
a.dataframe()

        Unnamed: 0        T1        T2  ...       T28   value  Class
95870       272181  1.985415 -0.550566  ... -0.033352    1.00      0
32764       173490  0.210699  0.936485  ...  0.013900    9.17      0
327         105795 -6.091784  5.002922  ... -0.895882    0.77      0
178996      173654  1.923234 -0.281321  ... -0.062574   93.17      0
248704      264351 -0.124671  1.964267  ...  0.344524    3.96      0
...            ...       ...       ...  ...       ...     ...    ...
154686      253457 -0.479274 -0.393808  ...  0.054366   22.69      0
204502      230311 -0.195326  0.507585  ... -0.154145  258.90      0
31024       165029  2.253767 -1.440754  ... -0.052575   16.00      0
158096      268686 -2.997003  2.540659  ... -0.208467   27.25      0
223900       15887 -0.540508  1.167342  ... -0.336980   38.42      0

[197371 rows x 31 columns]

In [ ]:
a.dataframe().groupby('Class').count()

       Unnamed: 0      T1      T2      T3  ...     T26     T27     T28   value
Class                                      ...
0          197028  197028  197028  197028  ...  197028  197028  197028  197028
1             343     343     343     343  ...     343     343     343     343

[2 rows x 30 columns]

In [ ]:
197028/343

574.4256559766764

In [ ]:
b = Annotation(output_dataframe='0.1') 
b.dataframe()

        Unnamed: 0        T1        T2  ...       T28   value  Class
85042        89333 -2.716608 -2.330187  ... -0.133524  101.89      0
223923      190081  1.910299  0.683046  ... -0.070606    0.00      0
243257      127717 -1.275970  1.000924  ...  0.112830   13.25      0
70619        55808  1.150036 -1.185910  ...  0.005368  102.00      0
207313      169307  2.257981 -1.705479  ... -0.041718    9.05      0
...            ...       ...       ...  ...       ...     ...    ...
24583       169110 -4.856079  0.158471  ...  1.607854   30.00      0
275156       46789 -0.846728  1.265127  ... -0.425804    8.99      0
109426      187502  1.978143 -0.285612  ... -0.051155   49.95      0
3570        116984 -0.805622  0.403235  ...  0.099215   29.70      0
179493      217535  1.700749 -0.566680  ... -0.014511  117.00      0

[19738 rows x 31 columns]

In [ ]:
b.dataframe().groupby('Class').count()

       Unnamed: 0     T1     T2     T3  ...    T26    T27    T28  value
Class                                   ...
0           19704  19704  19704  19704  ...  19704  19704  19704  19704
1              34     34     34     34  ...     34     34     34     34

[2 rows x 30 columns]

In [ ]:
19704/34 #Checking if the target feature ('Class') proportion is being maintained or not

579.5294117647059

In [ ]:
c = Annotation(output_dataframe='1') 
c.dataframe()

For the 'output_dataframe' argument, select from these:-
                          'train' or 'test' or Any float value ranging from 0-1

In [ ]:
d = Annotation(output_dataframe='train_dataset') 
d.dataframe()

For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1

Split dataset output:-

In [ ]:
'''
Required Liraries Imported
'''
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

class Annotation():
    '''
    Following arguments are required to run this annotation class.Default values are provided:-

    File path where the original data csv file is saved. Input should be in String format.
    input_file_path='data_transformed.csv'

    The dependent or target feature. Input should be in String format.
    target_column='Class'

    Test size for the train test split. Input should be in integer format.
    test_size=0.3
    
    Specifuy the test size for annotated percent data.
    test_size2=0.3

    The type of dataframe can be selected by iputting the following arguments:-
    'train' or 'test' or Any float value ranging from 0-1
    output_dataframe='train'
    '''

    def __init__(
            self,
            input_file_path='data_transformed.csv',
            target_column='Class',
            test_size=0.3,
            test_size2=0.3,
            output_dataframe='train'):
        self.input_file_path = input_file_path
        self.target_column = target_column
        self.test_size = test_size
        self.test_size2 = test_size2
        self.output_dataframe = output_dataframe

    def dataframe(self):

        # Read the data_transformed file
        df = pd.read_csv(self.input_file_path)

        # Splitting the independednt adn dependent variable
        X = df.drop(columns=[self.target_column])  # input
        y = df[self.target_column]  # output

        # Splitting 70% of the data for training and 30% for testing (with
        # stratification for imbalanced class)
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=self.test_size, stratify=y, random_state=0)
        
        if self.output_dataframe.isalpha() == True:
            if self.output_dataframe.lower() == 'train':
                # Splitting 70% of the data for training and 30% for testing (with
                # stratification for imbalanced class)
                X_train1, X_test1, y_train1, y_test1= train_test_split(
                    X_train, y_train, test_size=self.test_size2, stratify=y_train, random_state=0)
                
                return X_train1, X_test1, y_train1, y_test1
            elif self.output_dataframe.lower() == 'test':
                # Splitting 70% of the data for training and 30% for testing (with
                # stratification for imbalanced class)
                X_train2, X_test2, y_train2, y_test2= train_test_split(
                    X_test, y_test, test_size=self.test_size2, stratify=y_test, random_state=0)
                
                return X_train2, X_test2, y_train2, y_test2
            else:
                print("""For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1""")
        elif self.output_dataframe.isalpha() == False:
            try:
                if float(self.output_dataframe) in [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]:
                    # Splitting 70% of the data for training and 30% for testing (with
                    # stratification for imbalanced class)
                    _, Sample_X, _, Sample_y= train_test_split(
                        X_train, y_train, test_size=float(self.output_dataframe), stratify=y_train, random_state=0)

                    # Splitting 70% of the trained_data for training and testing (with
                    # stratification for imbalanced class)
                    X_train, X_test, y_train, y_test = train_test_split(
                        Sample_X, Sample_y, test_size=self.test_size2, stratify=Sample_y, random_state=0)
                    
                    return X_train, X_test, y_train, y_test
                else:
                    print("""For the 'output_dataframe' argument, select from these:-
                          'train' or 'test' or Any float value ranging from 0-1""")
                
            except:
                print("""For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1""")
        else:
            print("""For the 'output_dataframe' argument, select from these:-
                  'train' or 'test' or Any float value ranging from 0-1""")

In [ ]:
a = Annotation(output_dataframe='0.1')
X_train, X_test, y_train, y_test = a.dataframe()
X_train

        Unnamed: 0        T1        T2  ...       T27       T28   value
206416       28384 -0.764860  1.458982  ...  0.265155  0.128459   10.62
258700      202883 -0.229817  0.418098  ...  0.151230  0.070860    2.69
253526      238531 -0.291208  1.083327  ...  0.374595  0.251896    6.69
77664        69240 -2.870540  1.716670  ...  0.020433 -0.348590   10.99
193640      131055  1.225866  1.402640  ...  0.048705  0.102981    0.89
...            ...       ...       ...  ...       ...       ...     ...
147127       20310 -0.517172  0.384920  ...  0.197853  0.162837   47.80
110217       30447  0.980828  0.084450  ...  0.032509  0.057711  103.57
198071       40317  1.012591 -0.077561  ...  0.091888  0.053294   50.00
142629      241373  1.260222 -2.042553  ... -0.228895 -0.010091  521.20
127412      227263 -0.779694 -0.650471  ...  0.396918  0.201719  170.00

[13816 rows x 30 columns]

In [ ]:
(281959*0.7)*(0.1)*(0.7)

13815.991

In [ ]:
a = Annotation(output_dataframe='0.3')
X_train, X_test, y_train, y_test = a.dataframe()
X_train

        Unnamed: 0        T1        T2  ...       T27       T28   value
143843      225323  1.733527  0.192115  ... -0.046805 -0.034900   75.66
37301       241164  2.014045 -1.506796  ... -0.106471 -0.042295  226.30
112362       84965  1.037572 -0.333272  ...  0.044645  0.011503   15.97
259096       25668  0.321613 -1.131070  ... -0.075407  0.089726  459.90
140354       59642  1.408028 -1.093535  ...  0.024078  0.022815   36.00
...            ...       ...       ...  ...       ...       ...     ...
255879       99631  1.181568 -0.926246  ... -0.009838  0.028903   55.90
192845      265754 -0.529895  1.242707  ...  0.227108  0.080363    1.98
70780        72040 -0.541306  0.263515  ... -0.515262 -0.198060   23.50
138543      218589  2.022447 -1.853201  ...  0.000440 -0.029373  150.00
228407      156764 -0.642094  0.792286  ... -0.221924 -0.161139    2.12

[41448 rows x 30 columns]

In [ ]:
(281959*0.7)*(0.3)*(0.7)

41447.97299999999

In [ ]:
a = Annotation(output_dataframe='0.7')
X_train, X_test, y_train, y_test = a.dataframe()
X_train

        Unnamed: 0        T1        T2  ...       T27       T28   value
231764      271565 -0.475326  1.930694  ...  0.045344  0.169059   28.99
162209      130350 -0.980636 -0.790278  ...  0.265894  0.001370   42.60
252164      114965 -0.728606 -2.744175  ... -0.168447  0.174904  977.40
206650      155965  2.001004  0.260455  ... -0.088724 -0.041086   12.99
208261       54828 -2.255109  1.542241  ...  0.108913  0.391334   14.99
...            ...       ...       ...  ...       ...       ...     ...
77117        23577  1.158820  0.270233  ...  0.027377  0.032174   30.31
129081        1259  1.049389 -0.161076  ...  0.069169  0.029784   46.39
9856        271487  2.104782  0.125611  ... -0.085763 -0.089787    7.70
24441         8735 -0.416223  0.595408  ...  0.016903  0.130286   81.50
24416        68464 -6.040115 -6.205628  ... -0.562702  1.321179  182.00

[96712 rows x 30 columns]

In [ ]:
(281959*0.7)*(0.7)*(0.7)

96711.93699999998

In [ ]:
y_train

231764    0
162209    0
252164    0
206650    0
208261    0
         ..
77117     0
129081    0
9856      0
24441     0
24416     0
Name: Class, Length: 96712, dtype: int64

In [ ]:
y_train.groupby(y_train>0).count()

Class
False    96544
True       168
Name: Class, dtype: int64

In [ ]:
96544/168 #Checking if the target feature ('Class') proportion is being maintained or not

574.6666666666666

Annotation with CSV output:-

In [ ]:

'''
Required Liraries Imported
'''
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split


class Annotation():
    '''
    Following arguments are required to run this annotation class.Default values are provided:-

    File path where the original data csv file is saved. Input should be in String format.
    input_file_path='data_transformed.csv'

    The dependent or target feature. Input should be in String format.
    target_column='Class'

    Test size for the train test split. Input should be in integer format.
    test_size=0.3

    File path where the output csv file need to be saved. Input should be in String format.
    output_file_path='C:\\Users\\udayr\\OneDrive\\Desktop'
    '''

    def __init__(
            self,
            input_file_path='data_transformed.csv',
            target_column='Class',
            test_size=0.3,
            output_file_path='C:\\Users\\udayr\\OneDrive\\Desktop'):
        self.input_file_path = input_file_path
        self.target_column = target_column
        self.test_size = test_size
        self.output_file_path = output_file_path

    def data_as_csv(self):

        # Read the data_transformed file
        df = pd.read_csv(self.input_file_path)

        # Splitting the independednt adn dependent variable
        X = df.drop(columns=[self.target_column])  # input
        y = df[self.target_column]  # output

        # Splitting 70% of the data for training and 30% for testing (with
        # stratification for imbalanced class)
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=self.test_size, stratify=y, random_state=0)

        # making a copy to avoid SettingWithCopy Warning
        train_data = X_train.copy()
        test_data = X_test.copy()

        # Combining the stratified Train nad Test data separatley
        train_data.loc[:, self.target_column] = y_train
        test_data.loc[:, self.target_column] = y_test

        # Setting the names for Train and test data csv files, of the full data
        train_dataset_name = self.output_file_path + \
            '\\data_transformed_for_training_' + str(70) + "pct.csv"
        test_dataset_name = self.output_file_path + \
            '\\data_transformed_for_testing_' + str(30) + "pct.csv"

        # Saving Train and test data csv files, of the full data
        train_data.to_csv(train_dataset_name, index=False)
        print('{} saved'.format(train_dataset_name))
        test_data.to_csv(test_dataset_name, index=False)
        print('{} saved'.format(test_dataset_name))

        # Since the startified 70 ercent trainig data is actually 100 percent
        # annotated data. So, saving the same file as the 100 percent annotated
        # file.
        dataset_name = self.output_file_path + '\\data_transformed_annotated_100_pct.csv'
        train_data.to_csv(dataset_name, index=False)
        print('Stratified 70% Training data re-saved - {}'.format(dataset_name))

        # Read the Stratified 70% data_transformed file
        df_70 = pd.read_csv(train_dataset_name)

        # Splitting the independednt adn dependent variable
        X_70 = df_70.drop(columns=[self.target_column])  # input
        y_70 = df_70[self.target_column]  # output

        for size in list(np.linspace(0.1, 0.9, 9)):
            '''
            Performing Train test split on the stratified 70% data and in the loop incresing the test size by 10%
            with each step. Then combine only the Test data, to have the data in 10% advancing portions and maintain the
            category proprtion in the Class feature. The output will be the saved csv files of the combined Test data.
            '''
            _, Sample_X, _, Sample_y = train_test_split(
                X_70, y_70, test_size=self.test_size, stratify=y_70, random_state=0)
            dataset_name = self.output_file_path + \
                '\\data_transformed_annotated_' + str(round(size * 100)) + "pct.csv"
            train_data = Sample_X.copy()
            train_data.loc[:, 'Class'] = Sample_y
            train_data.to_csv(dataset_name, index=False)
            print('{} saved'.format(dataset_name))