In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
#df = pd.read_csv("https://drive.google.com/file/d/1tZkywjg6LdUI4MYl6mohOqoaGfgR4730/view?usp=sharing")
df = pd.read_csv("/data_transformed.csv")

In [ ]:
import sys
!{sys.executable} -m pip install featuretools

In [ ]:
import featuretools as ft

In [ ]:
df = df.rename(columns={'Unnamed: 0' : 'unique_id'})
df

        unique_id        T1        T2  ...       T28   value  Class
0          169876 -0.611712 -0.769705  ...  0.221180    1.79      0
1          127467 -0.814682  1.319219  ...  0.059456    1.98      0
2          137900 -0.318193  1.118618  ...  0.092516    0.89      0
3           21513 -1.328271  1.018378  ... -0.004273   15.98      0
4          134700  1.276712  0.617120  ...  0.041709    0.76      0
...           ...       ...       ...  ...       ...     ...    ...
281954      54586 -0.856930  0.222484  ... -0.289900  319.12      0
281955     120954 -0.465265  0.207364  ... -0.159658    1.70      0
281956     236448 -2.512674 -1.899145  ... -0.499069    1.00      0
281957      46364  0.283175 -1.814925  ...  0.068336  418.01      0
281958     237335  0.133895  0.972740  ...  0.069725    3.58      0

[281959 rows x 31 columns]

In [ ]:
class_df = pd.DataFrame ([[0,],[1]], columns = ['Class'])
class_df

   Class
0      0
1      1

In [ ]:
feature_df = df
feature_df

        unique_id        T1        T2  ...       T28   value  Class
0          169876 -0.611712 -0.769705  ...  0.221180    1.79      0
1          127467 -0.814682  1.319219  ...  0.059456    1.98      0
2          137900 -0.318193  1.118618  ...  0.092516    0.89      0
3           21513 -1.328271  1.018378  ... -0.004273   15.98      0
4          134700  1.276712  0.617120  ...  0.041709    0.76      0
...           ...       ...       ...  ...       ...     ...    ...
281954      54586 -0.856930  0.222484  ... -0.289900  319.12      0
281955     120954 -0.465265  0.207364  ... -0.159658    1.70      0
281956     236448 -2.512674 -1.899145  ... -0.499069    1.00      0
281957      46364  0.283175 -1.814925  ...  0.068336  418.01      0
281958     237335  0.133895  0.972740  ...  0.069725    3.58      0

[281959 rows x 31 columns]

In [ ]:
es = ft.EntitySet(id="dataframe")

In [ ]:
es = es.entity_from_dataframe(entity_id = "class", dataframe = class_df,index="Class")

In [ ]:
es = es.entity_from_dataframe(entity_id = "feature", dataframe = feature_df,index="unique_id")

In [ ]:
new_relationship = ft.Relationship(es["class"]["Class"],
   ....:                                    es["feature"]["Class"])

In [ ]:
es = es.add_relationship(new_relationship)
es

Entityset: dataframe
  Entities:
    class [Rows: 2, Columns: 1]
    feature [Rows: 281959, Columns: 31]
  Relationships:
    feature.Class -> class.Class

In [ ]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
   ...:                               target_entity="feature")

In [ ]:
feature_matrix

       COUNT(feature)  MAX(feature.T1)  ...  SUM(feature.T9)  SUM(feature.value)
Class                                   ...
0              281469         2.454930  ...      1267.094343        2.484724e+07
1                 490         2.132386  ...     -1265.055338        5.970057e+04

[2 rows x 175 columns]

In [ ]:
feature_matrix_2, feature_defs_2 = ft.dfs(entityset=es,
   ...:                               target_entity="class",max_depth=3)

In [ ]:
ft.dfs?